@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #f00e2e;
  text-decoration: none;
  font-family: "JetBrains Mono", monospace;
}

body,
#root {
  background: #0a0505;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  width: 50%;
  border: 2px solid #f00e2e;
  border-radius: 5px;
  box-shadow: 0 0 12px #f00e2e;
  flex-direction: column;
}

.scoreboard,
.elements {
  height: auto;
  margin: auto;
  padding: 1rem;
  font-size: 1.25rem;
  text-shadow: 0 0 10px #f00e2e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  margin-top: 20px;
}

.elements {
  width: 80%;
  flex-direction: row;
}

.rock,
.paper,
.scissors {
  width: 30%;
  margin: 0 auto;
  padding: 0.5rem;
  background: #0a0505;
  border: 2px solid #f00e2e;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  border: 2px solid #f00e2e;
  text-shadow: 0 0 10px #f00e2e;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.rock:hover,
.paper:hover,
.scissors:hover,
.start-btn:hover,
.rock:focus,
.paper:focus,
.scissors:focus {
  box-shadow: 0 0 15px #f00e2e;
}

.start-btn {
  margin: auto;
  padding: 0.5rem;
  font-size: 2rem;
  background: #0a0505;
  color: #f00e2e;
  border: 2px solid #f00e2e;
  border-radius: 5px;
  text-shadow: 0 0 10px #f00e2e;
  cursor: pointer;
}

@media only screen and (max-width: 512px) {
  #root {
    width: 90%;
    display: flex;
  }

  .board,
  .game-info {
    width: 50%;
  }
}

@media only screen and (max-width: 420px) {
  #root {
    flex-direction: column;
  }

  .board,
  .game-info {
    width: auto;
  }
}
